@keyframes buttonHover {
  0% {
    background-image: linear-gradient(var(--background-tertiary), var(--background-tertiary)),
    linear-gradient(-87deg, #77C0AF 0%, #D1DC97 14.84%, #E9A9B3 32.15%, #D586E0 65.79%, #91A1FA 84.58%);
  }

  20% {
    background-image: linear-gradient(var(--background-tertiary), var(--background-tertiary)),
    linear-gradient(-177deg ,#77C0AF 0%, #D1DC97 14.84%, #E9A9B3 32.15%, #D586E0 65.79%, #91A1FA 84.58%);
  }

  40% {
    background-image: linear-gradient(var(--background-tertiary), var(--background-tertiary)),
    linear-gradient(-200deg ,#77C0AF 0%, #D1DC97 14.84%, #E9A9B3 32.15%, #D586E0 65.79%, #91A1FA 84.58%);
  }

  60% {
    background-image: linear-gradient(var(--background-tertiary), var(--background-tertiary)),
    linear-gradient(-87deg ,#77C0AF 0%, #D1DC97 14.84%, #E9A9B3 32.15%, #D586E0 65.79%, #91A1FA 84.58%);
  }

  80% {
    background-image: linear-gradient(var(--background-tertiary), var(--background-tertiary)),
    linear-gradient(-87deg , #91A1FA 14%, #D586E0 33%, #E9A9B3 68%, #D1DC97 85%, #77C0AF 100%);
  }

  100% {
    background-image: linear-gradient(var(--background-tertiary), var(--background-tertiary)),
    linear-gradient(-87deg, #77C0AF 0%, #D1DC97 14.84%, #E9A9B3 32.15%, #D586E0 65.79%, #91A1FA 84.58%);
  }
}

@keyframes buttonArrow {
  60% {
    transform: translateX(60%);
  }

  100% {
    transform: translateX(0%);
  }
}

@keyframes diceAnimation {
  0% {
    background-color: #C58DE7;
    scale: 0;
  }

  15% {
    scale: 1.1;
  }

  20% {
    transform: rotate(0);
    scale: 1;
  }

  25% {
    transform: rotate(18deg);
  }

  30% {
    transform: rotate(36deg);
  }

  35% {
    transform: rotate(54deg);
  }

  40% {
    transform: rotate(72deg);
  }

  40% {
    transform: rotate(90deg);
  }

  45% {
    transform: rotate(108deg);
  }

  50% {
    transform: rotate(126deg);
  }

  55% {
    transform: rotate(144deg);
  }

  60% {
    transform: rotate(162deg);
  }

  65% {
    transform: rotate(180deg);
    opacity: 1;
  }

  100% {
    transform: rotate(180deg);
    opacity: 0;
    background-color: #C58DE7;
  }
}

@keyframes textAnimation {
  0% {
    opacity: 0;
  }

  31% {
    opacity: 0;
  }

  40% {
    opacity: 1;
    color: black;
  }

  65% {
    color: black;
  }

  100% {
    color: #C58DE7;
  }
}

@keyframes gapAnimation {
  0% {
    gap: 1.2rem;
  }

  80% {
    gap: 1.2rem;
  }
}