.select {
  width: 100%;

  & .board-form {
    margin: 2.125rem 0 2.125rem 6.75rem;
    display: flex;
    flex-direction: column;
    gap: 2.5rem;

    & .board-tutorial {
      h2 {
        font: var(--label-medium);
        color: var(--content-primary);
        text-transform: uppercase;
      }

      p {
        margin-top: 0.125rem;
        font: var(--paragraph-large);
        color: var(--content-secondary);
      }
    }

    form {
      & .number-input {
        display: flex;
        gap: .75rem;
        margin-bottom: 1.25rem;

        & .option {
          display: flex;
          flex-direction: column;
          width: 5.5rem;
          height: 5.375rem;
          gap: .5rem;
          align-items: center;

          & label {
            font: var(--label-small);
            color: var(--content-secondary);
            text-transform: uppercase;
            transition: all 0.3s ease;
          }

          & input {
            all: unset;
            text-align: center;
            width: 100%;
            height: 100%;
            background-color: var(--background-secondary);
            border-radius: .5rem;
            font: var(--display-small);
            color: white;
            position: relative;

            &::-webkit-inner-spin-button {
              -webkit-appearance: none;
            }
          }

          &:hover {
            & label {
              color: var(--background-brand);
            }

            & input {
              border-radius: .5rem;
              border: double 1px transparent;
              background-image: linear-gradient(var(--background-tertiary), var(--background-tertiary)),
                linear-gradient(#77C0AF 0%, #D1DC97 14.84%, #E9A9B3 32.15%, #D586E0 65.79%, #91A1FA 84.58%);
              background-origin: border-box;
              background-clip: content-box, border-box;
            }
          }

          &:focus-within {
            & label {
              color: var(--background-brand);
            }

            & input {
              border: double 2px transparent;
              border-radius: .5rem;
              background-image: linear-gradient(var(--background-tertiary), var(--background-tertiary)),
                linear-gradient(#77C0AF 0%, #D1DC97 14.84%, #E9A9B3 32.15%, #D586E0 65.79%, #91A1FA 84.58%);
              background-origin: border-box;
              background-clip: content-box, border-box;
            }
          }
        }
      }

      & button {
        margin-top: 2.5rem;
        background-color: var(--background-tertiary);
        border: none;
        border-radius: .5rem;
        width: 100%;
        height: 3.5rem;

        display: flex;
        align-items: center;
        justify-content: center;
        gap: .5rem;

        & span {
          font: var(--label-small);
          color: var(--content-primary);
          text-transform: uppercase;
        }

        &:hover {
          border-radius: .5rem;
          border: double 0.1rem transparent;
          background-image: linear-gradient(var(--background-tertiary), var(--background-tertiary)),
            linear-gradient(#77C0AF 0%, #D1DC97 14.84%, #E9A9B3 32.15%, #D586E0 65.79%, #91A1FA 84.58%);
          background-origin: border-box;
          background-clip: content-box, border-box;
          animation: buttonHover 1s ease infinite forwards;

          img {
            animation: buttonArrow 2s ease infinite;
          }
        }
      }
    }
  }
}