.board {
  & .board-roll {
    margin: 3.6875rem 0 3.6875rem 6.75rem;
    display: flex;
    flex-direction: column;
    gap: 2.5rem;

    .text {
      display: flex;
      flex-direction: column;
      gap: .25rem;

      h2 {
        font: var(--label-medium);
        color: var(--content-primary);
        text-transform: uppercase;
        align-self: center;
      }
  
      span {
        font: var(--overline);
        color: var(--content-secondary);
        align-self: center;
      }
    }

    .rolls {
      display: flex;
      flex-wrap: wrap;
      gap: .25rem;
      margin: 2.5rem auto;
      justify-content: center;
    }
  }

  button {
    height: 3.5rem;
    width: 100%;
    background-color: var(--background-tertiary);
    border: none;
    border-radius: .5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .5rem;
    cursor: pointer;

    span {
      font: var(--label-small);
      color: var(--content-primary);
      text-transform: uppercase;
    }

    img {
      height: 1.5rem;
      width: 1.5rem;
    }

  &:hover {
    border-radius: .5rem;
    border: double 0.1rem transparent;
    background-image: linear-gradient(var(--background-tertiary), var(--background-tertiary)),
    linear-gradient(#77C0AF 0%, #D1DC97 14.84%, #E9A9B3 32.15%, #D586E0 65.79%, #91A1FA 84.58%);
    background-origin: border-box;
    background-clip: content-box, border-box;
    animation: buttonHover 1s ease infinite forwards;
  }      
  }
}

.roll {
  height: 5.25rem;
  width: 5.25rem;
  background-color: var(--content-brand);
  border-radius: 1.75rem;
  display: flex;
  align-items: center;
  justify-content: center;

  font: 800 3rem/1.5 'Roboto Mono';
  color: var(--color-inverse);
}